@{
    ViewData["Title"] = "Home Page";
}

<div class="w-100">
    <img src="welcome.png" alt="welcome image" style="height: 600px">
</div>

<div class="text-center">
    <h1 class="display-4">Welcome to Barber</h1>
    <h1>@ViewBag.x</h1>
</div>
